/* resources/css/app.css */

/* Estilo global */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para los enlaces del menú */
.nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

/* Estilo para el ícono de perfil */
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

